{% if page.layout == 'post' %}
<div class="panel-body post-content text-justify">
    {% if page.description != empty %}
    {{ page.description }}
    <hr>
    {% endif %}
    {{ content }}
</div>
{% else %}
<div class="panel-body post-preview text-justify">
    {% if post.description != empty %}
    {{ post.description }}
    <hr>
    {% endif %}
    {{ post.excerpt }}
    {% if post.excerpt != post.content %}
    <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">Read more</a>
    {% endif %}
</div>
{% endif %}
